<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head('게시판 목록')"></head>
<body>
    <nav th:replace="fragments/common :: menu('board')"></nav>
    <div class="container">
    <div class="starter-template text-center py-5 px-3">
        <a th:href="@{/board/list}"><h1>게시판</h1></a>

    <div>
        <!-- 총 건수 -->
        <div class="d-flex justify-content-start">총 건수 :  <span th:text="${boardList.totalElements}"></span> 건</div>
        
        <!-- 검색 -->
        <form th:action="@{/board/list}" method="GET" class="row g-3 d-flex justify-content-end">
            <div class="col-auto">
              <input type="text" class="form-control" id="searchText" name="searchText">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-light mb-3">검색</button>
            </div>
        </form>
    </div>

    <!-- 게시글 작성 폼 테이블 -->        
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td>번호</td>
                <td>제목</td>
                <td>작성일자</td>
            </tr>
        </thead>    
        <tbody>
            <tr th:each="board : ${boardList}">
                <td th:text=${board.id}></td>
                <td><a th:text="${board.title}" th:href="@{/board/form/(id=${board.id})}"></a></td>
                <td th:text=${board.createTime}></td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <nav aria-label="Page navigation example" >
        <ul class="pagination justify-content-center">
          <li class="page-item" th:classappend="${1 == boardList.pageable.pageNumber + 1} ? 'disabled'">
              <a class="page-link" href="#" th:href="@{/board/list(page=${boardList.pageable.pageNumber - 1})}">Previous</a>
            </li>
          <li class="page-item" th:each="i : ${#numbers.sequence(startPage,endPage)}" th:classappend="${i == boardList.pageable.pageNumber + 1} ? 'disabled'">
              <a class="page-link" th:text="${i}" href="#" th:href="@{/board/list(page=${i- 1})}">i</a>
        </li>
          <li class="page-item" th:classappend="${boardList.pageable.pageNumber + 1 == boardList.totalPages} ? 'disabled'" >
              <a class="page-link" href="#" th:href="@{/board/list(page=${boardList.pageable.pageNumber + 1})}">Next</a>
            </li>
        </ul>
    </nav>
</div>


    <div class="text-end">
        <a type="button" class="btn btn-primary" th:href="@{/board/form}">글쓰기</a>
    </div>
    </div>
</body>
</html>